.imgLogo{
    vertical-align: middle;
    height: auto;
    width: 100px;
    border-radius: 50%;
}


.titulo {
    font-size: 110%;
    font-weight: bolder;
    margin-top: 50px;
}
.spring{
    color: #53BB32 !important;
}

.php{
    color: #777BB3 !important;
}
.jquery{
    color: #0868AB !important;
}

.html5{
    color:  #E44D26 !important;
}

.javascript{
    color: #FFEF57 !important;
}

.css{
    color: #0170BA !important;
}

.bootstrap{
    color: #7612F8 !important;
}
.firebase{
    color: rgb(255, 204, 1) !important;
}

.materialDes{
    color: gray !important;
}

.red{
    color: #E44D26;
}

.listaAcciones{

    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.enlaceDirecto{
    text-decoration-line: none;
    color: rgb(59, 59, 255);
}
.imagenes {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 0fr));
    gap: 15px 15px;
    border-radius: 25px;
    margin-top: 25px;
    justify-content: center;
}
.imagenes > .divImg{
    background: #f1f1f1;
    width: 270px;
    height: max-content;
    margin: 0 auto;
    text-align: center;
    margin: 15px;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
}


.imagenes > .divImg > img {
    margin: 15px;
    width: 240px;
    height: auto;
}

.imagenes > .divImg:hover{
    transition: all .5s;
    transform: scale(1.2);
}

.ventanaMostrarImagen{
    opacity: 0;
    position: absolute;
    background: #eeeeee;
    width: 85%;
    height: 90vh;
    left: 7.5%;
    top: 2.5vh;
    z-index: -1;
}

.cabezaVentana{
    width: 100%;
    height: 35px;
    background: rgb(0, 183, 195);
}

.iconoCerrarVentana{
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 200%;
    color: #fff;
    cursor: pointer;
}

.imagenAMostrar{
    width: 95%;
    height: 86.7%;
    margin: 0 auto;
}

.imagenAMostrar > img {
    display: flex;
    margin: 0 auto;
    width: auto;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 3;
}

.pieVentana{
    width: 100%;
    background: rgb(0, 183, 195);
    margin-top: 0.9px;
    height: 7%;
    
}


.controlesVentanaImagen{
    width: max-content;
    margin: 0 auto;
    color: #fff;
    font-size: 150%;
}
.controlesVentanaImagen > *{
    margin-top: 2.5px;
    text-align: center;
}
.pantallaCompleta, .siguientee, .regresar{
    width: max-content;
    cursor: pointer;
    margin-left: 15px;
    padding: 5px;
    
}

.pantallaCompleta:hover, .siguiente:hover, .regresar:hover{
    background-color: #fff;
    color: #000;
    border-radius: 50%;
}

.pantallaCompleta:active, .siguiente:active, .regresar:active{
    background-color: #fff;
    color: #000;
    border-radius: 50%;
}

.numeroImagen{
    margin-left: 15px;
}

#inputCheckVentanaImagen{
    position: absolute;
    opacity: 0;
}


.capaNegra1{
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #000;
    opacity: 60%;
    z-index: 2;
}


.circuloNumero{
    position: relative;
    width: 20px;
    text-align: center;
    margin: 0 auto;
    margin-top: -15px;
    margin-bottom: -18px;
    padding: 10px;
    background: rgb(0, 183, 195);
    color: #fff;
    border-radius: 50%;
}

#img{
    margin-bottom: 0px;
}

.imgMysql{
    vertical-align: middle;
}

.parteAspirante, .parteAdmin{
    margin-top: 15px;
    color: rgb(59, 59, 255);
}

@media screen and (min-width: 100px) and (max-width: 890px){

    .imagenAMostrar{
        display: flex;
    }

    .imagenAMostrar > img {
        margin: 0 auto;
        width: 100%;
        vertical-align: middle;
        height: auto;
        margin-top: auto;
        margin-bottom: auto;
      align-items: center;
        z-index: 3;
    }


}